* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d3557;
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.score {
  width: 25vw;
  height: 30vh;
  background-color: #000;
  color: rgb(196, 79, 79);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
}

button {
  background-color: #1d3557;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 4px;
  border-radius: 5px;
  margin-top: 15px;
  width: 6vw;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

#newGame {
  width: 11.5vw;
  display: block;
  margin: 15px auto;
}
